.header{
    justify-content: center;
    color:black;
    text-align: center;
    
}
.parent{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 100%;
     /* border: 2px solid red; */

    border: 2px solid yellow;
    height: 100%;
    
}
