.header{
    justify-content: center;
    color:black;
    text-align: center;
    
}
.parent{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    width: 100%;
<<<<<<< HEAD
    /* border: 2px solid red; */
=======
    border: 2px solid yellow;
>>>>>>> 9003663120ce3ad6d862ed20e9cf34ddeef5666a
    height: 100%;
    
}
